{% extends "_layout.twig" %}
{% block content %}
{% autoescape true %}
<h1>Encoded data</h1>
<textarea style="width:100%;height:300px;">Encoded data. (between ***** )
*****
{{ crypted }}
*****

data encode by this pub key.
{{ pub_key }}

# How to decode.
use: https://github.com/uzulla/ssh-pubkey-encrypter
or (Linux or OSX)
$ cat encode.txt | base64 -D | openssl rsautl -decrypt -inkey ~/.ssh/id_rsa
</textarea>
<a href="{{ urlFor('form') }}">back to form.</a>
{% endautoescape %}
{% endblock %}
